<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.cwi.nespresso_app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="League"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Nespressoapp"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".presentation.feature.inforanked.InfoRankedPlayerActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".presentation.feature.items.FavoriteActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Nespressoapp.NoActionBar" />
        <activity
            android:name=".presentation.feature.championdetail.CharacterDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Nespressoapp.NoActionBar" />
        <activity
            android:name=".presentation.feature.champions.ChampionActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Nespressoapp.NoActionBar" />
        <activity
            android:name=".presentation.feature.initial.InitialActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Nespressoapp.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>